<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>A Campaign</title>
</head>
<body>
        <a href="/campaigns">View All Campaigns </a>
        <% let p = campaign %> 
        <h1> <%= p.name %></h1>
        <a href="/campaigns/edit/<%= p.id %>">Edit</a><br>

        <a href="/locations/<%= p.id %>">View All Locations </a><br>
        <a href="/lores">View All Lore </a><br>
        <a href="/majorFactions">View All Major Factions </a><br>
        <a href="/stories">View All Stories </a><br>
        <a href="/villains">View All Villains </a><br>

        <form method="POST" action="/campaigns/<%= p.id %>/?_method=DELETE">
            <input type="submit" value="Delete Campaign">
        </form>
</body>
</html>