<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>All Characters</title>
<body>
    <a href="/campaigns/<%= campaignId %>">View Campaign </a><br>
    <% for( let index = 0; index < characters.length; index++ ) { %>
        <% let a = characters[index] %> 
        <% a = a.toJSON() %>
        <p> <%= a.name %></p>
        <hr>
    <% } %>
</body>
</html>